<div id="about-section" ng-controller="AboutCtrl">
  <h1 class="main-heading">About</h1>
  <div class="about-desc">
    <h5>Course Code</h5>
    <p>ITE1002</p>
    <h5>Course Name</h5>
    <p>Web Technologies</p>
    <h5>Class Number</h5>
    <p>VL2021220100592</p>
    <h5>Assignment</h5>
    <p>Client-side</p>
    <hr />
    <h5>Developer 1</h5>
    <p>
      Nimish Jain
      <br />
      20BIT0270
    </p>
    <h5>Developer 2</h5>
    <p>
      Tarunika Agarwal
      <br />
      20BIT0227
    </p>
    <h5>Developer 3</h5>
    <p>
      Rushil Saini
      <br />
      20BIT0261
    </p>
    <hr />
  </div>
</div>
