<div id="login-section" ng-controller="LoginCtrl">
    <div class="row" id="login">
      <div class="col-md-6">
        <div class="card login-card">
          <div class="text-center">
            <h1>Login</h1>
            <h6>Please enter Email & Password</h6>
          </div>
            <form name="login_form" novalidate >
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
                
                
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>
              <button type="submit"  class="btn btn-primary">Login</button>
              <p>
                <b>Forgot password?</b>
              </p>
              <p>
                <span> Don't have an account? </span>
                <a href="/#!/signup">Sign up here</a>
              </p>
            </form>
        </div>
      </div>
    </div>
  </div>