/* Global styling */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* 
Variables to be used:

--root-primary
--root-secondary
--text-primary
--text-secondary
--bg-primary
--bg-secondary
--bg-navbar
*/

:root {
  /* Buttons */
  --root-primary: #ff94cc;
  --root-secondary: #a239ea;

  /* All the important texts */
  --text-primary-light: black;
  --text-primary-dark: white;

  /* All the secondary texts */
  --text-secondary-light: rgb(70, 70, 70);
  --text-secondary-dark: rgb(160, 160, 160);

  /* Primary background color */
  --bg-primary-light: #dbf1f5;
  --bg-primary-dark: #24155c;

  /* Navbar background color */
  --bg-navbar-light: #5c33f6;
  --bg-navbar-dark: #5c33f6;
}

.light-theme {
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --bg-primary: var(--bg-primary-light);
  --bg-secondary: var(--bg-secondary-light);
  --bg-navbar: var(--bg-navbar-light);

  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.dark-theme {
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --bg-primary: var(--bg-primary-dark);
  --bg-secondary: var(--bg-secondary-dark);
  --bg-navbar: var(--bg-navbar-dark);

  background-color: var(--bg-primary);
  color: var(--text-primary);
}

html {
  font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.main-heading {
  font-size: 60px;
  text-align: center;
  padding-bottom: 30px;
  margin: 20px 0;
}

@media screen and (max-width: 600px) {
  .main-heading {
    font-size: 40px;
  }
}