#home-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.herosection {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.hero-left {
  padding-left: 50px;
  margin: auto;
}

.hero-left h1 {
  font-size: 54px;
}

.hero-right {
  background-image: url(../../assets/bus.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}
