<div id="home-section">
  <div class="herosection">
    <div class="hero-left">
      <h1>OTôBUS</h1>
      <p>
        OTôBUS is the best platform in the world for booking bus tickets online.
        OTôBUS is serving 6 countries around the world, and would be launching
        bus ticket booking services in more countries. Trusted by over 18
        million customers worldwide, OTôBUS offers an easy, fast, and secure
        platform for booking cheap bus tickets.
      </p>
    </div>
    <div class="hero-right"></div>
  </div>

  <div class="home-feature">
    <h1 class="main-heading home-heading">WHY BOOK WITH US?</h1>
    <div class="feature-card">
      <img src="./assets/multiple-bus-service.svg" alt="Icon" />
      <h5>MULTIPLE BUS SERVICES</h5>
      <p>
        Choose from various bus services, coach companies and your preferred
        seat.
      </p>
    </div>
    <div class="feature-card">
      <img src="./assets/secured-payments.svg" alt="Icon" />
      <h5>SECURED PAYMENTS</h5>
      <p>
        OtôBus has the highest security standards and keeps your information and
        purchases completely safe and secure.
      </p>
    </div>
    <div class="feature-card">
      <img src="./assets/global-coverage.svg" alt="Icon" />
      <h5>GLOBAL COVERAGE</h5>
      <p>
        We constantly add bus supply for different countries. Get all your bus
        travel needs covered under one roof.
      </p>
    </div>
    <div class="feature-card">
      <img src="./assets/customer-support.svg" alt="Icon" />
      <h5>SUPERIOR CUSTOMER SUPPORT</h5>
      <p>Our customer support will ensure to service all your queries.</p>
    </div>
  </div>

  <div class="global-presence">
    <h1 class="main-heading home-heading">OUR GLOBAL PRESENCE</h1>
    <div class="global-presence-card">
      <img src="./assets/india-flag.png" alt="Icon" />
      <h5>India</h5>
    </div>
    <div class="global-presence-card">
      <img src="./assets/usa-flag.png" alt="Icon" />
      <h5>United States</h5>
    </div>
    <div class="global-presence-card">
      <img src="./assets/canada-flag.png" alt="Icon" />
      <h5>Canada</h5>
    </div>
    <div class="global-presence-card">
      <img src="./assets/uk-flag.png" alt="Icon" />
      <h5>United Kingdom</h5>
    </div>
    <div class="global-presence-card">
      <img src="./assets/malaysia-flag.png" alt="Icon" />
      <h5>Malaysia</h5>
    </div>
    <div class="global-presence-card">
      <img src="./assets/singapore-flag.png" alt="Icon" />
      <h5>Singapore</h5>
    </div>
  </div>

  <div class="home-developers">
    <h1 class="main-heading home-heading">DEVELOPERS</h1>
    <div class="home-dev-card">
      <img
        src="https://avatars.githubusercontent.com/u/63140632?v=4"
        alt="Nimish"
      />
      <h4>Nimish Jain</h4>
      <p>VIT, Vellore</p>
      <div>
        <a
          class="btn btn-success btn-sm"
          target="_blank"
          href="https://github.com/nimishjn"
          >GitHub</a
        >
        <a
          class="btn btn-success btn-sm"
          target="_blank"
          href="https://www.nimish-jain.com"
          >Portfolio</a
        >
      </div>
    </div>
    <div class="home-dev-card">
      <img
        src="https://avatars.githubusercontent.com/u/71783797?v=4"
        alt="Tarunika"
      />
      <h4>Tarunika Agarwal</h4>
      <p>VIT, Vellore</p>
      <div>
        <a
          class="btn btn-success btn-sm"
          target="_blank"
          href="https://github.com/agtarunika"
          >GitHub</a
        >
      </div>
    </div>
    <div class="home-dev-card">
      <img
        src="https://avatars.githubusercontent.com/u/91027510?v=4"
        alt="Nimish"
      />
      <h4>Rushil Saini</h4>
      <p>VIT, Vellore</p>
      <div>
        <a
          class="btn btn-success btn-sm"
          target="_blank"
          href="https://github.com/rushilsaini"
          >GitHub</a
        >
      </div>
    </div>
  </div>
</div>
