<div id="home-section">
  <div class="herosection">
    <div class="hero-left">
      <h1>OTôBUS</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, nesciunt
        iure rerum eaque neque repudiandae eius architecto aliquid est nihil
        repellat distinctio deserunt maxime numquam quam quis saepe. Illum,
        fuga.
      </p>
    </div>
    <div class="hero-right"></div>
  </div>
  <div class="home-feature">
    <h1 class="main-heading home-heading">WHY BOOK WITH US?</h1>
    <div class="feature-card">
      <img src="./assets/multiple-bus-service.svg" alt="Icon" />
      <h5>MULTIPLE BUS SERVICES</h5>
      <p>
        Choose from various bus services, coach companies and your preferred
        seat.
      </p>
    </div>
    <div class="feature-card">
      <img src="./assets/secured-payments.svg" alt="Icon" />
      <h5>SECURED PAYMENTS</h5>
      <p>
        OtôBus has the highest security standards and keeps your information and
        purchases completely safe and secure.
      </p>
    </div>
    <div class="feature-card">
      <img src="./assets/global-coverage.svg" alt="Icon" />
      <h5>GLOBAL COVERAGE</h5>
      <p>
        We constantly add bus supply for different countries. Get all your bus
        travel needs covered under one roof.
      </p>
    </div>
    <div class="feature-card">
      <img src="./assets/customer-support.svg" alt="Icon" />
      <h5>SUPERIOR CUSTOMER SUPPORT</h5>
      <p>Our customer support will ensure to service all your queries.</p>
    </div>
  </div>
</div>
