<div id="signup-section" ng-controller="SignupCtrl">
  <div class="row" id="signup">
    <div class="col-md-6">
      <div class="card signup-card">
        <div class="text-center">
          <h1>Sign up</h1>
          <h6>Register yourself</h6>
        </div>
        <form name="signupForm" novalidate>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Username</label
            >
            <input
              type="name"
              class="form-control"
              id="exampleInputUsername1"
              name="username"
              ng-model="username"
              ng-required="true"
            />
            <span
              class="error"
              ng-show="signupForm.username.$dirty && signupForm.username.$error.required"
              >Email is required</span
            >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Mobile Number</label
            >
            <input
              type="number"
              class="form-control"
              id="exampleInputNumber1"
              name="contact"
              ng-model="contact"
              ng-pattern="ph_numbr"
              ng-required="true"
            />
            <span
              class="error"
              ng-show="signupForm.contact.$dirty && signupForm.contact.$error.required"
              >Phone number is required</span
            >
            <span class="error" ng-show="signupForm.contact.$error.pattern"
              >Please enter a 10 digit number</span
            >
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="email"
              ng-model="email"
              ng-pattern="eml_add"
              ng-required="true"
            />
            <span
              class="error"
              ng-show="signupForm.email.$dirty && signupForm.email.$error.required"
              >Email is required</span
            >
            <span
              class="error"
              ng-show="signupForm.email.$dirty && signupForm.email.$error.pattern"
              >Email is invalid</span
            >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              name="password"
              ng-model="password"
              ng-minlength="4"
              ng-maxlength="15"
              ng-required="true"
            />
            <span
              class="error"
              ng-show="signupForm.password.$dirty && signupForm.password.$error.required"
              >Password is a required</span
            >
            <span
              class="error"
              ng-show="signupForm.password.$dirty && signupForm.password.$error.minlength"
              >Password can't be less than 4 characters</span
            >
            <span
              class="error"
              ng-show="signupForm.password.$dirty && signupForm.password.$error.maxlength"
              >Password can't be more than 15 characters</span
            >
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            ng-disabled="signupForm.$invalid"
          >
            Signup
          </button>
          <p>
            <span>Already have an account?</span>
            <a href="/#!/login">Login here</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
