<div id="signup-section" ng-controller="SignupCtrl">
    <div class="row" id="signup">
      <div class="col-md-6">
        <div class="card signup-card">
          <div class="text-center">
            <h1>Sign up</h1>
            <h6>Register yourself</h6>
          </div>
          <form>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Username</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Mobile Number</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <button type="submit" class="btn btn-primary">Signup</button>
            <p>
              <span>Already have an account?</span>
              <a href="/#!/login">Login here</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>